<!-- Main jumbotron for a primary marketing message or call to action -->
<div ng-if="about || about == null" class="jumbotron">
    <div class="container">
        <h1 id="title">Browser Chronicles</h1>
        <p>A browser-based gamebook platform.</p>
        <p class="lead">| TEAM B |</p>
    </div>
</div>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-play-circle-o text-primary sr-icons"></i>
                    <h3>Play</h3>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Show data about current step</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Skip to the next step</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Step Riddle.</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Step Multiple choice</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Step End (Lost/Win)</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Number of steps made</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Minimum number of steps to a successful end</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop text-primary sr-icons"></i>
                    <h3>Show/Edit</h3>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> <a href="http://visjs.org/">Library</a> to handle with graph</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Show the story step as nodes</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Show the story transitions as edges</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Show the shorter path</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Show warnings about the story</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Edit data story using graph interface</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file text-primary sr-icons"></i>
                    <h3>Files</h3>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> XML Schema</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Load file from the disk</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Load file from server</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Show warnings about the story</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Save a story on XML</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plus-circle text-primary sr-icons"></i>
                    <h3>Extra</h3>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Step Memory</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Persistence</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Levenshtein distance</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Rich text</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Responsive Design</p>
                    <p class="text-muted"><i class="fa fa-check" aria-hidden="true"></i> Author mode</p>
                </div>
            </div>
        </div>
    </div>
</section>
